.Card {
  @media (max-width: 600px) {
    width: 100%;
    height: 100vh;
  }
  margin: auto;
  width: 380px;
  // height: 560px;
  position: relative;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 10px;
  &__close {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }
  &__title {
    width: 100%;
    text-transform: uppercase;
  }
}
