.List {
  &__image {
    max-width: 100px;
  }
}
.List {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  box-shadow: var(--shadow-elevation-medium);
  background: white;
}
