.Profile {
  background: #e0e0e0;
  height: 100vh;
  display: flex;
  &__card_content {
    background: white;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  &__image {
    width: 100%;
  }
}
