:root {
  --shadow-color: 0deg 0% 65%;
  --shadow-elevation-medium: 0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.25),
    1.4px 1.4px 2.2px -0.9px hsl(var(--shadow-color) / 0.24), 3.5px 3.3px 5.3px -1.7px hsl(var(--shadow-color) / 0.24),
    8.4px 8.1px 13px -2.6px hsl(var(--shadow-color) / 0.23);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
